.noti{
    background: #00b894;
    padding: 5px;
    h1{
        font-size: 14px;
    }
    button{
        color: #000;
        background: #fff;
        border-radius: 6px;
        font-weight: 600;
    }
}

